<%- include("header") -%>

    <!-- íƒ€ì´í‹€ -->
    <h1 class="Title">ðŸ”¥Welcome to Hell's TrackðŸ”¥</h1>
    <nav>
        <ul>
            <li><a href="/">ðŸ”¥HomeðŸ”¥</a></li>
            <li><a href="about">ðŸ”¥About UsðŸ”¥</a></li>
            <li><a href="contact">ðŸ”¥ContactðŸ”¥</a></li>
        </ul>
    </nav>

    <br>
    <!-- ë‚ ì§œ ë„£ì–´ì£¼ê¸° -->

    <h2 class="listTitle">
        <%= listTitle %>
    </h2>

    <!-- ì´ ìžë¦¬ì— ìš´ë™+ëª‡íšŒ+ëª‡ì„¸íŠ¸ ê²°ê³¼ ì§‘ì–´ë„£ê¸° -->
    <!-- for loopë¥¼ ëŒë¦¬ì§€ë§Œ map functionìœ¼ë¡œ ì˜®ê²¨ë„ ê´œì°®ì€ ê±° ê°™ë‹¤. -->
    <div class="exList">
        <h3>
            <% for (let i=0 ; i < list_contents.length; i++){ %>
                <h2>
                    <%=list_contents[i]%>
                </h2>
                <% } %>
        </h3>
    </div>


    <div>
        <form action="/" method="post">
            <label for="list_content">Add excercise</label>
            <input id="list_content" type="text" name="list_content" placeholder="ìš´ë™ì´ë¦„">
            <button type="submit" name="button" value=<%=listTitle%>>Add</button>
        </form>
    </div>

    <%- include("footer") -%>