<%- include("header") -%>

    <!-- 타이틀 -->


    <br>
    <!-- 날짜 넣어주기 -->

    <h2 class="listTitle">
        <%= listTitle %>
    </h2>

    <!-- 이 자리에 운동+몇회+몇세트 결과 집어넣기 -->
    <!-- for loop를 돌리지만 map function으로 옮겨도 괜찮은 거 같다. -->
    <div class="exList">

        <form action="/delete" method="post">

            <% workoutList.forEach((item)=>{ %>
                <div>
                    <input type="checkbox" value="<%= item._id %>" name="checkbox" onChange="this.form.submit()">
                    <h1>
                        <%=item.name%>
                    </h1>
                    <a href="/workout/<%= item %>">go</a>

                </div>
                <% }) %>
        </form>

    </div>


    <div>
        <form action="/" method="post">
            <label for="workoutList_element">Add excercise</label>
            <input id="workoutList_element" type="text" name="workoutList_element" placeholder="YOU GOT THIS">
            <button type="submit" name="button" value=<%=listTitle%>>Add</button>
        </form>
    </div>

    <%- include("footer") -%>