<%- include("header") -%>

    <h1 class="listTitle">
        <%=workoutTitle%>
    </h1>

    <div class="listTitle">

        <% kgsAndReps.forEach((item)=>{ %>
            <h1>
                <%= item.kg %>kg
                    <%= item.rep %>reps
            </h1>
            <% }) %>
    </div>

    <form action="/workout" method="post">
        <input type="text" name="kg" placeholder="kg">
        <input type="text" name="rep" placeholder="rep">
        <button type="submit" name="workoutTitle" value=<%=workoutTitle %>>record</button>
    </form>

    <%- include("footer") -%>